<div *ngIf="planet$ | async as planet; else loading" class="grid">
  <div class="full">{{ planet.properties.name }}</div>

  <div class="full">{{ planet.description }}</div>

  <div class="col">terrain</div>
  <div class="col">{{ planet.properties.terrain }}</div>

  <div class="col">diameter</div>
  <div class="col">{{ planet.properties.diameter | number }}</div>

  <div class="col">rotation_period</div>
  <div class="col">{{ planet.properties.rotation_period }}</div>

  <div class="col">orbital_period</div>
  <div class="col">{{ planet.properties.orbital_period }}</div>

  <div class="col">gravity</div>
  <div class="col">{{ planet.properties.gravity }}</div>

  <div class="col">population</div>
  <div class="col">{{ planet.properties.population | number }}</div>

  <div class="col">climate</div>
  <div class="col">{{ planet.properties.climate }}</div>

  <div class="col">surface_water</div>
  <div class="col">{{ planet.properties.surface_water }}</div>
</div>

<ng-template #loading> Loading... </ng-template>
